@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#container{
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    width: 500px;
    border-radius: 25%;
}

.house{
    font-weight:bold;
}

dt{
    padding: 1rem;
    background-color: grey;
}

dd{
    padding: 1rem;
}
